body{
    background: #9cc2ee;
    background-image:url(../img/img5.jpg);
    background-size: cover;
}
#container{
    color: white;
    text-shadow: 2px 2px blue;
    padding: 4em;
    margin:5px auto;
}

#h2{
    color: white;
    text-shadow: 2px 2px blue;
    padding-left: 4em;  
}

#bouton{
    padding: 4em;
} 

input[type=submit] {
    background-color: #5a9ae4; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

